<footer>
<hr class="mt-5">
<div class="container-fluid bg-light text-dark">
    <div class="row">
        <div class="col text-center">
            <div class="row">
                <div class="col py-2 mt-3">
                    <div class="display-5">
                    <p>By Wilfred D. Lopez @2019</p>
            </div>
            </div>
            </div>

        </div>
    </div>
</div>
</footer>