<section>
    <div class="container-fluid mx-auto text-center">
        <div class="row mt-5">
            <div class="col-sm-10 col-xs-12 mx-auto">
                <h1>Search Weather Information</h1>
                <form id="weather-form" action="" method="GET" class="form-group mt-5">
                    <label for="address">
                        <input id="address" type="text" name="address" placeholder="Address" class="form-control">
                    </label>
                    <label for="search">
                        <button type="btn btn-light">Search</button>
                    </label>
                </form>


                <section>
                    <div class="dispay-4">
                        <p class="lead">Weather Information:</p>
                    </div>
                    <div id="results">
                        
                    </div>    
                 </section>
            </div>
        </div>
    </div>

</section>