<!DOCTYPE html>
<html lang="en">
{{> head }}
<body>
{{> nav }}

<div class="container">
    <div class="mt-5 mb-5">
        <h1>About Me</h1>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3">
                    <img src="/img/wilfred.jpg" alt="Wilfred Lopez" class="image-fluid" width="100%"/>
                </div>
            </div>
        </div>
        
        <p class="display-5 mt-3">Wilfred Lopez, Currently At Garfied, New Jersey, USA.</p>
        <p class="lead">Just stating to explore NodeJs and learning. this is a class from Andrew Mead and i was guided to create this website although i made my own changes. The project uses data from mapbox.com and darksky.net</p>
    </div>
</div>


{{> footer }}
{{> scripts }}
</body>
</html>